@using Mentoring.Core.Module1.Models
@model IEnumerable<CategoryViewModel>


<h2>Categories we have:</h2>
<table class="table">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
        </tr>
    }
</table>
