@model Mentoring.Core.Module1.Models.LoadCategoryPictureViewModel

@{
    ViewData["Title"] = "Category image upload";
}

<h2>UploadImage</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <input asp-for="CategoryId" type="hidden"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


