@using Mentoring.Core.Module1.Models
@model EditProductViewModel

<h2>CreateAsync new product</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.ProductName"></label>
        <input asp-for="Product.ProductName" />
        <span asp-validation-for="Product.ProductName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.CategoryId"></label>
        <select asp-for="Product.CategoryId" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))"></select>
        <span asp-validation-for="Product.CategoryId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.SupplierId"></label>
        <select asp-for="Product.SupplierId" asp-items="@(new SelectList(Model.Suppliers, "SupplierId", "CompanyName"))"></select>
        <span asp-validation-for="Product.SupplierId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.QuantityPerUnit"></label>
        <input asp-for="Product.QuantityPerUnit" />
        <span asp-validation-for="Product.QuantityPerUnit"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ReorderLevel"></label>
        <input asp-for="Product.ReorderLevel" />
        <span asp-validation-for="Product.ReorderLevel"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.UnitPrice"></label>
        <input asp-for="Product.UnitPrice" />
        <span asp-validation-for="Product.UnitPrice"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.UnitsInStock"></label>
        <input asp-for="Product.UnitsInStock" />
        <span asp-validation-for="Product.UnitsInStock"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.UnitsOnOrder"></label>
        <input asp-for="Product.UnitsOnOrder" />
        <span asp-validation-for="Product.UnitsOnOrder"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Discontinued"></label>
        <input asp-for="Product.Discontinued" />
        <span asp-validation-for="Product.Discontinued"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

