@{
    ViewData["Title"] = "InternalServerError";
}

<h2>500 - InternalServerError</h2>

<p>Your request made smth to break on our side.</p>
<p>Sorry for that.</p>

@Html.ActionLink("Back to the homepage", "Index", "Home")