@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Hello, stranger!</h2>
<div>
    <p>This is just a simple ASP.NET Core project.</p>
    <p>You can look for smth interesting in a navbar links.</p>
</div>
